body {
  background-color: rgb(224,255,255);
  color :LightCyan;
}

h1  {
 
    background-color: rgb(224,255,255);
    color : DarkSlateGray;
   }

h3  {
  
    background-color: rgb(224,255,255);
    color :DarkCyan;
  }

h3  {

    background-color: rgb(224,255,255);
    color :MidnightBlue;
}